@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

:root{
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Manrope', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    background-color: var(--light-grayish-blue);
}

main{
    max-width: 90%;
    background-color: white;
    border-radius: 1rem;
}

.image{
    width: 100%;
    height: 250px;
    background-image: url('./images/drawers.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1rem 1rem 0 0;
}

/* Content */
.content{
    padding: 2rem 2rem 0 2rem;
}

.content__header{
    font-weight: 700;
    padding: 1rem 0;
    font-size: 1.9rem;
    color: var(--very-dark-grayish-blue);
}

.content__description{
    font-weight: 500;
    color: var(--desaturated-dark-blue);
    font-size: 1.3rem;
    line-height: 2rem;
    margin: 1rem 0;
}

/* Author */
.author{
    display: flex;
    flex-direction: row;
    padding: 2rem;
}

.author__avatar img{
    border-radius: 50%;
    width: 60px;
}

.author__info{
    display: flex;
    flex-direction: column;
    justify-content:center;
    margin-left: 2rem;
}

.author__info__name{
    color: var(--very-dark-grayish-blue);
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
}

.author__info__date{
    font-size: 1.2rem;
    color: var(--desaturated-dark-blue);
    font-weight: 500;
}

.author__share{
    margin: auto 0 auto auto;
    background-color: var(--light-grayish-blue);
    padding: 1rem;
    border-radius: 50%;
}

/* Tooltip */
.tooltip{
    padding: 2rem;
    background-color: var(--very-dark-grayish-blue);
    display: flex;
    justify-content: flex-start;
    border-radius: 0 0 1rem 1rem;
}

.tooltip__text{
    margin: auto;
    color: var(--desaturated-dark-blue);
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: 0.4rem;
}

.tooltip__social{
    margin: auto auto auto 0;
}
.tooltip__social img{
    padding: 0 1rem;
}

.tooltip__share{
    margin: auto 0 auto auto;
    background-color: var(--desaturated-dark-blue);
    border-radius: 50%;
}

.tooltip__share img{
    padding: 1rem;
    filter: brightness(100);
}